---
# https://blog.csdn.net/softimite_zifeng/article/details/78357898
# https://www.jianshu.com/p/5dea6bdbbabb
Language:        Cpp
BasedOnStyle:  Google
# 访问说明符(public、private等)的偏移
AccessModifierOffset:	-4

BreakBeforeBraces: Custom
BraceWrapping:  
  # class定义后面
  AfterClass:	false
  # 控制语句后面
  AfterControlStatement:	false
  # enum定义后面
  AfterEnum:	false
  # 函数定义后面
  AfterFunction:	true
  # 命名空间定义后面
  AfterNamespace:	false
  # ObjC定义后面
  AfterObjCDeclaration:	false
  # struct定义后面
  AfterStruct:	false
  # union定义后面
  AfterUnion:	false
  # catch之前
  BeforeCatch: false
  # else之前
  BeforeElse:	false
  # 缩进大括号
  IndentBraces:	false

# 缩进case标签
IndentCaseLabels:	false
# 允许重新排版注释
# ReflowComments:	true
# 对齐连续的尾随的注释
# AlignTrailingComments:	true

Standard:	Cpp11
IndentWidth:	4
TabWidth:	4

# 总是在template声明后换行
AlwaysBreakTemplateDeclarations:	true
# false表示函数实参要么都在同一行，要么都各自一行
BinPackArguments:	false
# false表示所有形参要么都在同一行，要么都各自一行
BinPackParameters:	false
# 构造函数的初始化列表要么都在同一行，要么都各自一行
ConstructorInitializerAllOnOneLineOrOnePerLine:	true
# 连续空行的最大数量
MaxEmptyLinesToKeep:	1
# 当值为true,允许短case语句收缩成一行
AllowShortCaseLabelsOnASingleLine: true
ColumnLimit: 0
# 禁止自动排序include
SortIncludes: false
...

